<div class="serach-container">
  <form #myform="ngForm" (ngSubmit)="onSubmit(myform.value)">
    <div class="row">
      <label class="label"
        >Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL)</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          name="stockInput"
          class="form-control rounded-0"
          id="stockInput"
          [(ngModel)]="stockModel.stockInput"
          minlength="1"
          maxlength="5"
          required
          #stockInput="ngModel"
        />
      </div>

      <div class="col-sm-4">
        <button
          class="btn btn-success shadow-lg rounded-0"
          [disabled]="stockInput.invalid"
          id="trackBtn"
        >
          Track Stock
        </button>
      </div>
    </div>
  </form>
</div>
