<div class="serach-container">
  <div class="col-sm-12 loading" *ngIf="showLoader">
    Fetching Data, Please wait ..
  </div>
  <div class="row" *ngIf="isLoaded && !showLoader">
    <div class="col-sm-12">
      <label class="label list-title">{{
        lable + ' (' + searchSymbol + ')'
      }}</label>
    </div>
    <div class="col-sm-12 p-l-0">
      <div class="container">
        <div class="row">
          <div *ngFor="let d of sentimentDetails['data']" class="col-sm-4 mb-2">
            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-10">
                    <label class="label">{{
                      getMonthName(d.month) | uppercase
                    }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label class="label lable-medium"
                      >Change:
                      {{ d.change > 0 ? '+' + d.change : d.change }}</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="label lable-medium"
                      >MSPR: {{ d.mspr | number: '1.2-2' }}</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-2 p-l-0 sentiment">
                <span *ngIf="d.change > 0" class="stock-icon-up"
                  ><i class="fa fa-arrow-up" aria-hidden="true"></i
                ></span>
                <span *ngIf="d.change < 0" class="stock-icon-down"
                  ><i class="fa fa-arrow-down" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isLoaded && !showLoader">
    <div class="col-sm-8 mt-3">
      <a
        class="btn btn-secondary shadow-lg btn-sm rounded-0"
        id="backBtn"
        (click)="goBacktoList()"
      >
        < Back to list of stocks</a
      >
    </div>
  </div>
</div>
